.light{
    color: black;
    background-color: white;
}

.dark{
    color: white;
    background-color: rgb(11, 5, 43);
}

.changeMode{
    width: fit-content;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.left{
    display: flex;
    align-items: center;
}